{% extends "accueil.html.twig" %}
{% block titreHeader %}
    <title>Ajout d'un vêtement</title>
{% endblock %}
{% block titrePage %}
    <h1 class="titre">Ajout d'un vetement</h1>
{% endblock %}
{% block body %}
    <div class="formulaire-container">
        {{ form(formulaire) }}
    </div>
{% endblock %}