<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for vetement in vetements %}
        <p>{{vetement.id}}</p>
        <p>{{vetement.nom}}</p>
        {% for taille in vetement.taille %}
            <p>{{taille.nom}}</p>
        {% endfor %}
        <p>{{vetement.marque.nom}}</p>
        <br>
    {% endfor %}
</body>
</html>